<div>
    <form action="/" method="post">
        <fieldset>
            <legend>Users Register</legend>
            <input type="text" name="name" id="name"placeholder="Informe o nome"><br>
            <input type="email" name="email" id="email" placeholder="Informe o email"><br>
            <button type="submit">Register</button>
        </fieldset>
    </form>
</div>